
.modal-content {
	background-color: rgba(49, 42, 39, .9);
	color: white;
	font-family: 'Times New Roman', Times, serif;
}

.name-input {
		color: rgb(233, 205, 168);
	font-size: 1.07rem;
}

input {
	background-color: rgba(94, 82, 76, .8);

	text-transform: capitalize;
}

input:focus {
	background-color: rgba(104, 91, 84, .8);
	color: white;
}

.name-change-dishes {
	text-transform: uppercase;
	font-family: 'Times New Roman', Times, serif;
}

.modal-title {
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.6rem;
}

.row {
	margin-top: 0.7rem;
}

.none {
	display: none;
}

.button-modal {
	margin-bottom: 0.7rem;
	margin-top: 0.7rem;
}

.modal-footer {
	height: 4rem;
}

input.ng-touched.ng-invalid {
	border: solid red 2px;
}

input.ng-touched.ng-valid {
	border: solid green 2px;
}

input .colorInputCalendar {color: gray;}
