<div class="body-box">
<footer class="marketing-site-footer">
  <div class="container">

    <div class="row">
      <div class="col-lg-6 col-md-6">
        <h4 class="marketing-site-footer-name">Siesta Italiana</h4>
        <p>"Trascorrere la tua siesra on noi"</p>
      </div>

      <div class="col-lg-6 col-md-6 text-right">
        <p>+380 95 147 70 17 <span class="glyphicon glyphicon-earphone"></span></p>
        <p>nkkrckt@gmail.com <span class="glyphicon glyphicon-envelope"></span></p>
      </div>
    </div>
  </div>
  <div class="under-footer text-center col-lg-12">
    <br>
    All rights reserved &copy; Olexiy Nikitin
  </div>

</footer>
</div>
