


.nameCalendar {
	margin-bottom: 10px;
}

.nameDish::first-letter {
	text-transform: capitalize;
}

input.ng-touched.ng-invalid {
	border: solid red 2px;
}

input.ng-touched.ng-valid {
	border: solid green 2px;
}

form {
	z-index: 1;
}

form .form-icons {
	text-align: center;
}

form .form-icons .input-group-label {
	/*background-color: rgb(35,31,32);*/
	/*border-color: rgb(35,31,32);*/
}

.closeButton {padding-left: 15px; padding-right: 15px;}
.button.disabled,
.button.disabled:hover,
.button.disabled:focus,
.button[disabled],
.button[disabled]:hover,
.button[disabled]:focus{background-color: rgb(35,31,32);}

.button,
.button:hover,
.button:focus{background-color: rgb(35,31,32);}

.callout{position: absolute; z-index: 10200 !important;}
.messeng {margin-right:45px; }
.cloesMesseng {font-size: 0.7em;}
