.top-bar {
	position: fixed;
	width: 100%;
	top: -1px;
	 z-index: 100;

}

.top-bar, .top-bar ul {
  background-color: rgb(35,31,32);
}

.logo {
	height: 70%;
	padding: 10px;
}

ul, ol, dl {
	list-style: none;
}
a {color: white; 	font-family: 'Indie Flower', cursive;}

[routerLinkActive="active"][_ngcontent-c0]:active {
  font-family: 'Indie Flower', cursive;
  color: #5481ed;
}

a:hover,a:active,a:focus {color: rgb(157, 166, 186);}

.navbar-brand{
  font-family: 'Princess Sofia', cursive;
  color: #79b7ed;
}

